@import "settings";

@media (max-width: 1400px) {
  .example-slider {
    display: none;
  }

  .example-section__wrapper {
    grid-template-columns: 1fr;
  }

  .voice-message__img {
    display: flex;
    justify-content: end;
  }

  .voice-message__img-wrapper {
    width: 80%;
    height: 90%;
  }
}

@media (max-width: 992px) {
  .promo-container__wrapper {
    width: 90vw;
  }

  .nav__about {
    display: flex;
    flex-basis: 80vw;
  }

  .svg-phone {
    width: 40vw;
    height: 45vw;
  }

  .background-phone {
    top: 14vh;
    right: 5vw;
    width: 43vw;
  }

  .example-frame__img {
    top: 10px;
    right: -4vw;
  }

}

@media (max-width: 767px) {
  .promo-section {
    margin-top: 45px;
    grid-template-columns: 1fr 1fr;
  }
  .promo-section__title {
    font-size: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
    line-height: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
  }

  .background-phone {
    top: 10vh;
    right: 0;
    width: 49vw;
  }

  .recommendations {
    grid-template-columns: 1fr;
    justify-items: end;

  }

  .recommendations-img {
    width: 50%;
    z-index: -1;
  }

  .recommendations-text__title {
    width: 70%;
  }

  .q-a__accordion {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .nav-wrapper {
    gap: 10vw;
  }

  .promo-section__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1992));
    line-height: 130%;
  }

  .btn-telegram, .btn-whatsapp {
    width: 120px;
    height: 30px;
  }

  .svg-whatsapp, .svg-telegram {
    width: 40px;
    height: 50px;
  }

  .background-phone {
    top: 113px;
  }

  .block-question, .block-answer {
    right: 0;
    align-items: flex-end;
    width: 67vw;
    height: 31vw;
    padding: 4vw;
  }

  .block-question {
    width: fit-content;
    height: fit-content;
    padding: 6vw;
    left: 0;
  }

  .question-mark, .answer-mark {
    top: -0.5em;
    width: 40px;
    height: 40px;
    left: -1vw;
  }

  .block-answer {
    top: 425px;
    width: fit-content;
    height: fit-content;
    padding: 6vw;
  }

  .svg-airplane {
    top: 295px;
    left: 0;
    width: 215px;
    height: 115px;
    transform: rotate(11deg);
  }

  .svg-tags {
    top: 360px;
    right: 0;
    width: 120px;
    height: 65px;
  }

  .cost-section {
    position: relative;
  }
  .cost {
    grid-template-columns: 1fr;
  }
  .cost__img {
    position: absolute;
    width: 50%;
    top: -18vw;
    right: 0;
    z-index: -1;
  }

  .voice-message__img-wrapper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 435px) {
  .promo-section {
    grid-template-columns: 1fr;
  }

  .block-buttons {
    flex-direction: column;
  }

  .background-phone {
    top: 240px;
  }

  .recommendations-img {
    top: 15vw;
  }

  .q-a-background {
    align-items: start;
    padding-top: 5vw;
    height: 1200px;
  }

  .footer {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vw;
  }

  .footer-contacts {
    order: 2;
    gap: 4vw;
  }

  .footer-contacts__text {
    justify-content: center;
    gap: 5vw;
  }

  .privacy-policy {
    justify-content: center;
  }
}
