@import "variables";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: $white;
  color: $black;

}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: $font-size-18;
  line-height: 150%;
  color: $white;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

