@import "variables";


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: $white;
  color: $black;

}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}


a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: $font-size-18;
  line-height: 150%;
  color: $white;
  cursor: pointer;
}


.svg-arrow {
  width: 8px;
  height: 8px;
  background: $white;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

