$white: #FFF;
$dark-black: #000000;
$black: #1C252B;
$dark-blue: #3A4D57;
$blue-white: #bbdbf3;
$blue: #3F92D1;
$background-whatsapp: #4CAF50;
$background-telegram: #41B4E6;
$font-size-18: calc(14px + 4 * (100vw / 1992));
$font-size-40: calc(20px + 20 * (100vw / 1992));
$line-height-47: calc(20px + 27 * (100vw / 1992));