$white: #FFF;
$black: #1C252B;
$dark-blue: #3A4D57;
$background-whatsapp: #4CAF50;
$background-telegram:  #41B4E6;
$font-size-18: calc(14px + 4 * (100vw / 1992));
$font-size-40: calc(20px + 20 *(100vw / 1992));