* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
}

.promo-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.promo-container__wrapper {
  width: 60%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.link-about, .link-q-a {
  color: #1C252B;
}

.link-about:hover, .link-q-a:hover {
  text-decoration: underline;
}

.nav__language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-flag-uk {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-flag-russia {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.drop-down-content {
  display: none;
  position: absolute;
  top: 42px;
  left: -13px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
}

.language-russia:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.promo-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4.52vw;
}

.promo-section__title {
  font-size: calc(32px + 28 * (100vw / 1992));
  line-height: calc(24px + 46 * (100vw / 1992));
}

.promo-section__subtitle {
  display: inline-block;
  margin-top: 1.15vh;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: calc(24px + 3.2 * (100vw / 1992));
  color: #3A4D57;
}

.block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2.51vw;
  margin-top: 5vh;
}

.block-buttons__telegram, .block-buttons__whatsapp {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  transition: 1s;
  cursor: pointer;
}

.block-buttons__telegram:hover, .block-buttons__whatsapp:hover {
  transition: 1s;
  opacity: 0.5;
}

.btn-whatsapp {
  background: #4CAF50;
}
.btn-whatsapp a {
  color: #FFF;
}

.btn-telegram {
  background: #41B4E6;
}
.btn-telegram a {
  color: #FFF;
}

.svg-whatsapp, .svg-telegram {
  position: absolute;
  width: 50px;
  height: 50px;
}

.svg-whatsapp {
  left: 0;
}

.svg-telegram {
  left: 0;
}

.background-phone {
  position: absolute;
  top: 40px;
  right: 14vw;
  width: 31vw;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.info-container-img {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  background: url("../img/background-info.png") top/cover no-repeat;
  width: 100%;
  height: 890px;
}

.info-section {
  position: relative;
  height: 800px;
}

.block-question, .block-answer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 420px;
  height: 155px;
  padding: 35px;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(63, 146, 209, 0.12);
  border-radius: 47px;
}

.block-question {
  top: 180px;
  left: 40px;
}

.question-mark, .answer-mark {
  position: absolute;
  top: -20px;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 40%;
  border-radius: 50%;
  font-size: calc(32px + 28 * (100vw / 1992));
  font-weight: 900;
  color: #FFF;
}

.question-mark {
  background: #3F92D1;
}

.answer-mark {
  background: #4CAF50;
}

.block-question__text, .block-answer__text {
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
}

.block-answer {
  top: 430px;
  right: 7vw;
}

.svg-airplane, .svg-tags {
  position: absolute;
}

.svg-airplane {
  width: 270px;
  height: 140px;
  top: 310px;
  left: 18vw;
  transform: rotate(22deg);
}

.svg-tags {
  width: 150px;
  height: 94px;
  top: 320px;
  right: 17vw;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.cost-section {
  display: flex;
  justify-content: center;
}

.cost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5vw;
}

.cloud-img {
  width: 100%;
  height: 100%;
}

.cost-text__title {
  font-size: calc(20px + 20 * (100vw / 1992));
  line-height: 150%;
}

.cost-text__list {
  margin-top: 2vh;
}

.check-marks {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1vw;
}

.svg-check-mark {
  width: 30px;
  height: 25px;
  flex-shrink: 0.1;
}

.info-text {
  font-size: calc(14px + 4 * (100vw / 1992));
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.example-section-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  background: url("../img/background-example-of-notes.png") top/cover no-repeat;
  width: 100%;
  height: 1250px;
}

.example-section__title {
  font-size: calc(20px + 20 * (100vw / 1992));
  line-height: calc(20px + 27 * (100vw / 1992));
}

.example-section__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 40px;
}

.example-notes {
  display: grid;
  gap: 3vh;
}

.example-notes__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4% 2%;
  background: #FFFFFF;
  box-shadow: 0 0 12px rgba(63, 146, 209, 0.29);
  border-radius: 6px;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 140%;
  z-index: 10;
}

.item-number {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #3F92D1;
  font-weight: 900;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 140%;
  color: #FFF;
}

.item-text {
  font-size: calc(14px + 4 * (100vw / 1992));
  color: #3A4D57;
}

.item-best {
  background: #3F92D1;
  color: #FFF;
}

.item-best__text-fast {
  text-transform: uppercase;
}

.voice-message {
  margin-top: 5vh;
}

.voice-message__title {
  display: flex;
  justify-content: end;
  font-size: calc(13px + 13 * (100vw / 1992));
  line-height: calc(15px + 15 * (100vw / 1992));
  opacity: 0.7;
}

.voice-message__img-wrapper {
  margin-top: 1vh;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-wrapper {
  position: relative;
}

.example-section__wrapper-frame {
  background: url(../img/frame.png) top/cover no-repeat;
  height: 39vw;
  width: 25vw;
}

.slider-wrapper__img {
  position: absolute;
  top: 3vw;
  right: 2vw;
  bottom: 0;
  display: flex;
  width: 60%;
  height: 90%;
  overflow: hidden;
  z-index: 10;
}

.slider-wrapper__img-flip {
  display: flex;
  flex-direction: row;
  transition: 2s;
}

.example-chat-img {
  width: 100%;
  height: 100%;
}

.example-chat-img-two {
  width: 100%;
  height: 100%;
}

.example-slider__button {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  transition: 2s;
  background: #bbdbf3;
  cursor: pointer;
}

.example-slider__button:hover {
  transition: 2s;
  opacity: 0.5;
}

.btn-previous {
  left: 3vw;
}

.btn-next {
  right: -3vw;
}

.svg-arrow-next, .svg-arrow-previous {
  width: 16px;
  height: 14px;
}

.svg-arrow-previous {
  transform: rotate(90deg);
}

.svg-arrow-next {
  transform: rotate(270deg);
}

.use-previous, .use-next {
  fill: #3F92D1;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

@media (max-width: 1400px) {
  .example-slider {
    display: none;
  }

  .example-section__wrapper {
    grid-template-columns: 1fr;
  }

  .voice-message__img {
    display: flex;
    justify-content: end;
  }

  .voice-message__img-wrapper {
    width: 80%;
    height: 90%;
  }
}
@media (max-width: 992px) {
  .promo-container__wrapper {
    width: 90vw;
  }

  .nav__about {
    display: flex;
    flex-basis: 80vw;
  }

  .svg-phone {
    width: 40vw;
    height: 45vw;
  }

  .background-phone {
    top: 14vh;
    right: 5vw;
    width: 43vw;
  }

  .example-frame__img {
    top: 10px;
    right: -4vw;
  }
}
@media (max-width: 767px) {
  .promo-section {
    margin-top: 45px;
    grid-template-columns: 1fr 1fr;
  }

  .promo-section__title {
    font-size: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
    line-height: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
  }

  .background-phone {
    top: 10vh;
    right: 0;
    width: 49vw;
  }
}
@media (max-width: 576px) {
  .nav-wrapper {
    gap: 10vw;
  }

  .promo-section__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1992));
    line-height: 130%;
  }

  .btn-telegram, .btn-whatsapp {
    width: 120px;
    height: 30px;
  }

  .svg-whatsapp, .svg-telegram {
    width: 40px;
    height: 50px;
  }

  .background-phone {
    top: 113px;
  }

  .block-question, .block-answer {
    right: 0;
    align-items: flex-end;
    width: 67vw;
    height: 31vw;
    padding: 4vw;
  }

  .block-question {
    width: fit-content;
    height: fit-content;
    padding: 6vw;
    left: 0;
  }

  .question-mark, .answer-mark {
    top: -0.5em;
    width: 40px;
    height: 40px;
    left: -1vw;
  }

  .block-answer {
    top: 425px;
    width: fit-content;
    height: fit-content;
    padding: 6vw;
  }

  .svg-airplane {
    top: 295px;
    left: 0;
    width: 215px;
    height: 115px;
    transform: rotate(11deg);
  }

  .svg-tags {
    top: 360px;
    right: 0;
    width: 120px;
    height: 65px;
  }

  .cost-section {
    position: relative;
  }

  .cost {
    grid-template-columns: 1fr;
  }

  .cost__img {
    position: absolute;
    width: 50%;
    top: -18vw;
    right: 0;
    z-index: -1;
  }

  .voice-message__img-wrapper {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 435px) {
  .promo-section {
    grid-template-columns: 1fr;
  }

  .block-buttons {
    flex-direction: column;
  }

  .background-phone {
    top: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
