* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}

.svg-flag {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}

.svg-flag {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.promo-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.promo-container__wrapper {
  width: 60%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.nav__language {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}

.svg-flag {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.promo-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 4.52vw;
}

.promo-section__title {
  font-size: calc(32px + 28 * (100vw / 1992));
  line-height: calc(24px + 46 * (100vw / 1992));
}

.promo-section__subtitle {
  display: inline-block;
  margin-top: 1.15vh;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: calc(24px + 3.2 * (100vw / 1992));
  color: #3A4D57;
}

.block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2.51vw;
  margin-top: 1.51vh;
}

.block-buttons__telegram, .block-buttons__whatsapp {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.btn-whatsapp {
  background: #4CAF50;
}

.btn-telegram {
  background: #41B4E6;
}

.svg-whatsapp, .svg-telegram {
  position: absolute;
  width: 50px;
  height: 50px;
}

.svg-whatsapp {
  left: 0;
}

.svg-telegram {
  left: 0;
}

.svg-phone {
  width: 200px;
  height: 520px;
}

.svg-russia {
  width: 70px;
  height: 70px;
}

.svg-tags {
  width: 180px;
  height: 140px;
}

.use-tags {
  fill: #FFF;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}

.svg-flag {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

@media (max-width: 992px) {
  .promo-container__wrapper {
    width: 90vw;
  }

  .nav__about {
    display: flex;
    flex-basis: 80vw;
  }
}
@media (max-width: 767px) {
  .promo-section {
    margin-top: 45px;
  }

  .promo-section__title {
    font-size: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
    line-height: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
  }
}
@media (max-width: 576px) {
  .nav-wrapper {
    gap: 10vw;
  }

  .promo-section__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1992));
    line-height: 130%;
  }
}

/*# sourceMappingURL=style.css.map */
