* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
  z-index: -1;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
  z-index: -1;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
  z-index: -1;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
  z-index: -1;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.promo-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.promo-container__wrapper {
  width: 60%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.link-about, .link-q-a {
  color: #1C252B;
}

.link-about:hover, .link-q-a:hover {
  text-decoration: underline;
}

.nav__language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  cursor: pointer;
}

.svg-flag-uk {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-flag-russia {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.drop-down-content {
  display: none;
  position: absolute;
  top: 42px;
  left: -13px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
}

.language-russia:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
  z-index: -1;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
  z-index: -1;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.promo-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4.52vw;
}

.promo-section__title {
  font-size: calc(32px + 28 * (100vw / 1992));
  line-height: calc(24px + 46 * (100vw / 1992));
}

.promo-section__subtitle {
  display: inline-block;
  margin-top: 1.15vh;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: calc(24px + 3.2 * (100vw / 1992));
  color: #3A4D57;
}

.block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2.51vw;
  margin-top: 5vh;
}

.block-buttons__telegram, .block-buttons__whatsapp {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  transition: 1s;
  cursor: pointer;
}

.block-buttons__telegram:hover, .block-buttons__whatsapp:hover {
  transition: 1s;
  opacity: 0.5;
}

.btn-whatsapp {
  background: #4CAF50;
}
.btn-whatsapp a {
  color: #FFF;
}

.btn-telegram {
  background: #41B4E6;
}
.btn-telegram a {
  color: #FFF;
}

.svg-whatsapp, .svg-telegram {
  position: absolute;
  width: 50px;
  height: 50px;
}

.svg-whatsapp {
  left: 0;
}

.svg-telegram {
  left: 0;
}

.background-phone {
  position: absolute;
  top: 40px;
  right: 14vw;
  width: 31vw;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
  z-index: -1;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
  z-index: -1;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

.info-container {
  margin-top: 20vw;
  background: url("../img/background-info.jpg") top/cover no-repeat;
  width: 100%;
  height: 890px;
}

.info-section {
  position: relative;
  height: 800px;
}

.block-question, .block-answer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 420px;
  height: 155px;
  padding: 35px;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(63, 146, 209, 0.12);
  border-radius: 47px;
}

.block-question {
  top: 220px;
  left: 40px;
}

.svg-question, .svg-answer {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 65px;
  height: 90px;
}

.block-question__text, .block-answer__text {
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
}

.block-answer {
  top: 485px;
  right: 7vw;
}

.svg-airplane, .svg-tags {
  position: absolute;
}

.svg-airplane {
  width: 270px;
  height: 140px;
  top: 357px;
  left: 18vw;
  transform: rotate(22deg);
}

.svg-tags {
  width: 150px;
  height: 94px;
  top: 334px;
  right: 19vw;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #FFF;
  color: #1C252B;
}

li {
  list-style: none;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
  z-index: -1;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
  z-index: -1;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: calc(14px + 4 * (100vw / 1992));
  line-height: 150%;
  color: #FFF;
  cursor: pointer;
}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: #FFF;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-cross {
  width: 26px;
  height: 22px;
}

.use-cross {
  fill: #FBCFD8;
}

@media (max-width: 992px) {
  .promo-container__wrapper {
    width: 90vw;
  }

  .nav__about {
    display: flex;
    flex-basis: 80vw;
  }

  .svg-phone {
    width: 40vw;
    height: 45vw;
  }

  .background-phone {
    top: 14vh;
    right: 5vw;
    width: 43vw;
  }
}
@media (max-width: 767px) {
  .promo-section {
    margin-top: 45px;
    grid-template-columns: 1fr 1fr;
  }

  .promo-section__title {
    font-size: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
    line-height: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1992));
  }

  .background-phone {
    top: 10vh;
    right: 0;
    width: 49vw;
    z-index: -2;
  }
}
@media (max-width: 576px) {
  .nav-wrapper {
    gap: 10vw;
  }

  .promo-section__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1992));
    line-height: 130%;
  }

  .btn-telegram, .btn-whatsapp {
    width: 120px;
    height: 30px;
  }

  .svg-whatsapp, .svg-telegram {
    width: 40px;
    height: 50px;
  }

  .background-phone {
    top: 113px;
  }

  .block-question, .block-answer {
    right: 0;
    align-items: flex-end;
    width: 67vw;
    height: 31vw;
    padding: 4vw;
  }

  .block-question {
    width: fit-content;
    height: fit-content;
    padding: 6vw;
  }

  .svg-question, .svg-answer {
    top: -9vw;
    left: 0;
    width: 13vw;
    height: 17vw;
  }

  .block-answer {
    top: 425px;
    width: fit-content;
    height: fit-content;
    padding: 6vw;
  }

  .svg-airplane {
    top: 314px;
    left: 0;
    width: 215px;
    height: 115px;
    transform: rotate(0deg);
  }

  .svg-tags {
    top: 360px;
    right: 0;
    width: 120px;
    height: 65px;
  }
}
@media (max-width: 435px) {
  .promo-section {
    grid-template-columns: 1fr;
  }

  .block-buttons {
    flex-direction: column;
  }

  .background-phone {
    top: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
