@import "../settings";
@import "../variables";

.background-blotch {
  position: absolute;
  top: 0;
  left: 0;
  width: 17vw;
  height: 17vw;
}

.background-blotch-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 14vw;
  height: 8vw;
}

.header {
  padding-top: 30px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.link-about, .link-q-a {
  color: $black;
}

.link-about:hover, .link-q-a:hover {
  text-decoration: underline;
}

.nav__language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  cursor: pointer;

}

.svg-arrow {
  width: 8px;
  height: 8px;
  background: $white;
  transition: 1s;
  cursor: pointer;
}

.svg-arrow:hover {
  transition: 1s;
  transform: translate3d(0, 2px, 0);
}

.use-arrow {
  fill: #3A4D57;
}

.svg-flag-uk {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.svg-flag-russia {
  width: 21px;
  height: 21px;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);
  border-radius: 50%;
}

.drop-down-content {
  display: none;
  position: absolute;
  top: 42px;
  left: -4px;
  padding: 6px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 0 7px rgb(8 76 148 / 28%);
}

.language-russia:hover, .language-uk:hover {
  text-decoration: underline;
  cursor: pointer;
}