@import "../settings";
@import "../variables";

.promo-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.promo-container__wrapper{
  width: 60%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}

.nav__language {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 0 7px rgba(8, 76, 148, 0.28);

}

.svg-russia {
  width: 70px;
  height: 70px;
}
